HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/target/
gradle
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/workspace.xml
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log
*log.*

/compute/build
/compute/out
/compute/.gradle
/config-server/build
/config-server/out
/config-server/.gradle